html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  display: none;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%
}
.content-panel {
  background-color: lightgrey;
}

.inner-content {
  width: 90%;
  margin: auto;
}

.white {
  color: white;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  flex: 1;
}

.menu-btn {
  display: block;
  border: 1px solid black;
  text-align: center;
  color: black;
}

#header {
  background-color: plum;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%
}

#logo-div {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 5%;
}

#blah {
  display: flex;
  align-items: center;
  height: 80%;
}

#logo {
  max-width: 100%;
  max-height: auto;
}

#header-nav {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

#header-nav div a{
  padding: 10px;
}

#header-menu {
  padding: 10px;
}

.tabs{
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkgrey;
  min-width: 200px;
  right: 0;
}
.dropdown-content a {
  display: block;
  border: 1px solid white;
  text-align: center;
}

.show {
  display: flex;
}

.block {
  display: block;
}


@media only screen and (min-width: 600px) {
	.dropdown{
    display: none;
  }
  .tabs{
    display: block;
  }
  #header{
    height: 60px;
  }
}
