html {
  height: 100%;
}

h1 {
  font-family: 'Poppins';
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  display: none;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%
}
.content-panel {
  background-color: lightgrey;
}

.inner-content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.white {
  color: black;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  flex: 1;
}

.menu-btn {
  display: block;
  border: 1px solid black;
  text-align: center;
  color: black;
}

#header {
  background-color: lightgrey;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%
}

.logo-outer {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 5%;
}

.logo-inner {
  display: flex;
  align-items: center;
  height: 80%;
}

#logo {
  max-width: 100%;
  max-height: auto;
}

.header-nav {
  height: 100%;
  float: right;
  display: none;
  align-items: center;
  margin-right: 5%;
}

.header-nav a{
  padding: 10px;
}

.menu-hamburger{
  display: flex;
  align-items: center;
  float: right;
  margin-right: 5%;
  height: 100%;
}

.show {
  display: flex;
}

.block {
  display: block;
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (min-width: 600px) {
	.menu-hamburger{
    display: none;
  }
  .header-nav{
    display: flex;
  }
  #header{
    height: 60px;
  }
}
