* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  transition: .3s;
  height: 50px;
}

.fixed-header {
  background-color: #D0D0D0;
  height: 50px;
}

.header-btn {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
}

.header-btn:hover {
  background-color: plum;
}

.content{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 100%;
}
.content-panel {
  background-color: #E8E8E8;
}

.inner-content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.menu {
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: .2s;
  background-color: #555555;
}

.menu-btn {
  display: block;
  text-align: center;
  color: white;
  background-color: #555555;
  padding: 10px;
  text-decoration: none;
}
.menu-btn:hover {
  background-color: plum;
  color:black;
}



.logo-outer {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 5%;
}

.logo-inner {
  display: flex;
  align-items: center;
  height: 80%;
}

.logo {
  max-width: 100%;
  max-height: auto;
}

.header-nav {
  height: 100%;
  float: right;
  display: none;
  align-items: center;
  margin-right: 5%;
}

.header-nav a{
  padding: 10px;
}

.menu-hamburger{
  display: flex;
  align-items: center;
  float: right;
  margin-right: 5%;
  height: 100%;
}

.menu-btn-container {
  display: inline-block;
}

.show {
  height: 100%;
}

.auto {
  height: 100%;
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (min-width: 600px) {
	.menu-hamburger{
    display: none;
  }
  .header-nav{
    display: flex;
  }
}



.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: .5s;
}

.change .bar1 {
  transform: translateY(9px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translateY(-9px) rotate(45deg);
}
